.metadata
RemoteSystemsTempFiles
.analytics
IDE.log

# Vivado Projects and IP Outputs
*.o
*.log
*.a
*.elf
*.asv
*.rpt
*.rpx
*.jou

*.cache
*.ip_user_files
*.runs

# Vitis Platform Projects
*/export

# Vitis Application Projects
*/_ide
