.metadata
RemoteSystemsTempFiles
.analytics
IDE.log

*.o
*.log
*.a
*.elf

wolfenstein_platform_wrapper/export
wolfenstein_platform_wrapper/platform.tcl
wolfenstein_core_1/_ide/launch/Debugger_wolfenstein_core_1-Default.launch
